<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Movie List Home</title>
  </head>
  <body>
    <div
      class="d-flex flex-column justify-content-center align-items-center show-movie-div"
      style="width: 100vw; height: 100vh"
    >
      <%- include('./partials/header.ejs') %> <%if(data.Error){%> <%} else {%>
      <div class="card" style="width: 75%">
        <div class="card-body d-flex flex-column ps-4 pe-4">
          <h1 class="card-title mb-3"><%=data.Title%></h1>
          <h6>IMDb Rating: <%=data.imdbRating%>/10</h6>
          <h6 class="mb-3">Rotten Tomatoes: <%=data.Ratings[1].Value%></h6>
          <h6 class="card-subtitle mb-3 text-muted">
            <%=data.Year%> &nbsp|&nbsp <%=data.Rated%> &nbsp|&nbsp
            <%=data.Runtime%>
          </h6>
          <p class="card-text"><%=data.Plot%></p>
          <h6 class="card-subtitle mb-3 text-muted"><%=data.Genre%></h6>
          <img class="mb-3" style="width: 50%" src="<%=data.Poster%>" />
          <h6 class="card-subtitle mb-3">Director: <%=data.Director%></h6>
          <h6 class="card-subtitle mb-3">Writer: <%=data.Writer%></h6>
          <h6 class="card-subtitle mb-3">Actors: <%=data.Actors%></h6>
          <div>
            <a href="/" class="card-link">Back</a>
            <a href="/movielist" class="card-link add-movie">Add to list</a>
          </div>
        </div>
      </div>
      <%}%>
    </div>
  </body>
</html>
